<!DOCTYPE html>
<html lang="pt-br">
<head>
    <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="stylesheet" href="/css/estilo.css">
    <title>Desafio GFT</title>
</head>
<body>
    {{>_navbar}}
    {{{body}}}
</body>
</html>