		<div style="text-align:justify; padding: 30px;">
			<table border="0" CELLSPACING="10">
				<tr>
					<td>
						<img src="/img/chat2.png" width="90px" />

					</td>
					<td>
						<a id="liveagent_button_online_5734S000000g4Xh" href="javascript://Chat" style="display: none;" onclick="liveagent.startChat('5734S000000g4Xh')">
						<!-- Clique aqui para acessar o Chat -->Clique aqui para acessar o Chat</a>
						<div id="liveagent_button_offline_5734S000000g4Xh" style="display: none;">Chat indisponível<!-- Chat indisponível --></div>						
					</td>
				</tr>			
			</table>
			<script type="text/javascript">
			if (!window._laq) { window._laq = []; }
			window._laq.push(function(){liveagent.showWhenOnline('5734S000000g4Xh', document.getElementById('liveagent_button_online_5734S000000g4Xh'));
			liveagent.showWhenOffline('5734S000000g4Xh', document.getElementById('liveagent_button_offline_5734S000000g4Xh'));
			});</script>
			<script type='text/javascript' src='https://c.la4-c1-ph2.salesforceliveagent.com/content/g/js/48.0/deployment.js'></script>
			<script type='text/javascript'>
			liveagent.init('https://d.la4-c1-ph2.salesforceliveagent.com/chat', '5724S000000g4XT', '00D4S000000pVCh');
			</script>
		</div>	